body {
    background-color: #edeef0;
}

#imageLoader {
    display: none;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.empty {
    /*background-color: #ff4a4e;*/
    border: 2px solid black;
}

.invisible {
    display: none;
}

#psyDuck {
    background-image: url("../img/psyduck.png");
    top: 18vw;
    left: 0;
}

#kyle {
    background-image: url("../img/kyle.png");
    top: 30vw;
    left: 0;
}

#pizza {
    background-image: url("../img/pizza.png");

}

.fill {
    position: absolute;

    background-size: cover;
    width: 10vw;
    height: 10vw;
}

.hover {
    border: 2px dashed grey;
    opacity: 0.5;
    box-shadow: 0 0 75px 15px rgba(92,130,255,0.53);
}

#hidden {
    display: none;
}

#saveImg {
    display: none;
}

#btnSaveToBase {
    display: none;
}

#videoOn {
    display: none;
}

.isLiked {
    box-shadow: 0 0 75px 15px rgba(92,130,255,0.53);
}

.isNotLiked {
    box-shadow: none;
}

/*#photo, #hidden {*/
/*    width: 35vw;*/
/*    height: 30vw;*/
/*}*/